 table {
   width: 600px;
   text-align: center;
 }

 table,
 th,
 td {
   border: 1px solid #ccc;
   border-collapse: collapse;
 }

 caption {
   font-size: 18px;
   margin-bottom: 10px;
   font-weight: 700;
 }

 tr {
   height: 40px;
   cursor: pointer;
 }

 table tr:nth-child(1) {
   background-color: #ddd;
 }

 table tr:not(:first-child):hover {
   background-color: #eee;
 }